*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 3, 59);
    color: white;
    padding: 20px 40px;
}
nav.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 59);
    color: white;
    padding: 20px 40px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    display: flex;
    background-color: rgb(230, 230, 255);
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    gap: 25px;
}
.hero button{
    padding: 20px 40px;
    background-color: blue;
    color: white;
    width: 40%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.hero button:hover{
    background-color: skyblue;
}
.hero-img img{
    width: 500px;
    height: auto;
}
.hero-txt h1{
    font-size: 32px;
    margin-bottom: 16px;
}
.hero-txt p{
    margin-bottom: 30px;
}
.hero-txt{
    max-width: 500px;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 20px;
    gap: 20px;
    text-align: center;
}
.feature{
    flex: 1 1 250px;
    padding: 40px 20px;
    background-color: rgb(209, 209, 248);
    border-radius: 10px;
}
.product-gallery{
    background-color: rgb(242, 242, 242);
    padding: 40px 20px;
    text-align: center;
}
.product-gallery h2{
    background-color: rgb(242, 242, 242);
    color: black;
    padding: 30px;
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
}
.product-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(207, 198, 198);
    transition: .3s ease;
}
.product-card:hover{
    transform: scale(1.1,1.1);
}

.sub{
    background-color: rgb(109, 109, 255);
    color: white;
    justify-content: center;
    text-align: center;
    padding: 20px;
    line-height: 2rem;
}
button{
    background-color: white;
    color: blue;
    padding: 10px;
    width: 10%;
    transition: .3s ease;
}
button:hover{
    transform: scale(1.1,1.1);
}
input{
    padding: 10px;
    width: 25%;
    background-color: white;
    color:rgb(158, 159, 158);
}